body {
	margin: 0;    
}

.dm-sans {
	font-family: "DM Sans", serif;
	font-weight: 400;
	font-style: normal;
}
.topbar { 
	background-color: #f6ff0083;
  height: 40%;

}
.bouton {
  background-color: #f6ff0083;
  border-radius: 7px;
}